<div>
 <form class="form" (ngSubmit)="submitForm()" [formGroup]="form">
    <h2>Connection</h2>
    <div [hidden]="hide">
      <div [hidden]="!error" class="error">{{ error }}</div>
      <div class="form-element">
        <label class="label" class="label" for="email">Email: </label>
        <input id="email" type="text" name="email" formControlName="email" />
      </div>
      <div class="form-element">
        <label class="label" class="label" for="password">Mot de passe : </label>
        <input type="password" id="password" name="password" formControlName="password" />
      </div>
      <input class="submit" type="submit" [disabled]="!form.valid" value="Valider" class="submit">
      <br>
    </div>
    <div class="message" [hidden]="!hide">
      Vous êtes déjà connecté !
    </div>
  </form>
</div>
