form{
  text-align: center;
  background-color: rgba(107, 91, 149, 0.9);
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
}

div {
  margin: 15px;
}
h2{
  margin-top: 0px;
}
.submit {
  border-radius: 10px;
  padding: 15px;
width: 150px;
background-color: white;
border:none;
}
label{
  width: 100px;
  display: inline-block;
  text-align: right;
  padding-right: 6px;
}
