<form class="form" [formGroup]="createEventForm" (ngSubmit)="onSubmit(createEventForm)">

  <div class="form-element">
      <label class="label" for="name">Nom: </label>
      <input type="text" id="name" name="name" formControlName="name"/><br>
      <div class="error-form" *ngIf="hasNameError()">Requis !</div><br>
  </div>

  <div class="form-element">
    <label class="label" class="label" for="dateDebut">Date début: </label>
    <input type="date" id="dateDebut" name="dateDebut" formControlName="dateDebut"/><br>
    <div class="error-form" *ngIf="hasDateDebutError()">Requis !</div><br>
  </div>

  <div class="form-element">
    <label class="label" class="label" for="dateFin">Date fin: </label>
    <input type="date" id="dateFin" name="dateFin" formControlName="dateFin"/><br>
    <div class="error-form" *ngIf="hasDateFinError()">Requis !</div><br>
  </div>

  <div class="form-element">
    <label class="label" for="heureDebut">Heure début: </label>
    <input type="time" id="heureDebut" name="heureDebut" formControlName="heureDebut"/><br>
    <div class="error-form" *ngIf="hasHeureDebutError()">Requis !</div><br>
  </div>

  <div class="form-element">
    <label  class="label"  for="heureFin">Heure fin:</label>
    <input type="time" id="heureFin" name="heureFin" formControlName="heureFin"/><br>
    <div class="error-form" *ngIf="hasHeureFinError()">Requis !</div><br>
  </div>

  <input class="submit" type="submit" [disabled]="!createEventForm.valid" />
</form>
