<div id="activity-item">
  <h2>Activité : {{ activity?.name }}</h2>
  <div div class="info">
    <h4>Date</h4>
    <p>début: {{ activity?.dateDebut.year }}/{{activity?.dateDebut.monthValue }}/{{  activity?.dateDebut.dayOfMonth  }}
      de: {{ activity?.heureDebut.hour }}:{{activity?.heureDebut.minute }}
    </p>
    <p>fin: {{ activity?.dateFin.year }}/{{ activity?.dateFin.monthValue }}/{{ activity?.dateFin.dayOfMonth  }}

      a: {{ activity?.heureFin.hour }}:{{activity?.heureFin.minute }}
    </p>
    <div *ngIf="canManage" class="management-buttons">
      <button (click)="onRemove(activity)">Supprimer</button>
    </div>
    <div *ngIf="canManage" class="management-buttons">
      <a [routerLink]="['/events/update-activity', activity.id]">
        <button>Modifier</button>
      </a>
    </div>

    <h4>Participants</h4>
    <div class="list" *ngIf="activity?.participants">
      <ul>
        <li *ngFor="let person of activity?.participants">
          {{ person.firstName }}
        </li>
      </ul>
    </div>
    <div *ngIf="!isParticipantValue">
      <button (click)="inscription(activity)">SUBSCRIBE</button>
    </div>
    <div *ngIf="isParticipantValue">
      <button (click)="desinscription(activity)">UNSUBSCRIBE</button>
    </div>
  </div>
</div>
