<header>
  <nav>
    <ul>
      <li>
        <a href="/events">Evènements</a>
      </li>
      <li>
        <a href="/account">Profil</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/sign-in">Login / Logout</a>
      </li>
    </ul>
  </nav>
</header>
<section id="container">
  <router-outlet></router-outlet>
</section>
<footer>
  <section id="logo">
    <img alt="logo"/>
  </section>
  <section id="copyright">
      <div>Copyright 2019 ™</div>
    </section>
</footer>
