<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
</style>
<section id="container">
  <header>
    <nav>
      <section id="logo">
        <a [routerLink]="['/events']">
          <img alt="logo" src="assets/img/Logo The_Offspring.png"/>
        </a>
      </section>
      <ul>
        <li>
          <a [routerLink]="['/events']">Events</a>
        </li>
        <!-- <li> -->
          <!-- <a [routerLink]="['/events/createActivity']">Create activity</a> -->
        <!-- </li> -->
        <li>
          <a [routerLink]="['/account']">Profil</a>
        </li>
        <li>
          <!-- <a [routerLink]="['/register']">Register</a> -->
          <a>Register (coming soon)</a>
        </li>

        <li>
          <a [routerLink]="['/person/login']">Login / Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <div id="content-container">
      <particles [style]="style" [width]="width" [height]="height" [params]="params"></particles>
      <router-outlet></router-outlet>
  </div>
  <footer>
    <div>
      <section id="logo">
        <img alt="logo" src="assets/img/Logo The_Offspring.png"/>
      </section>
      <section id="copyright">
          <p>Offspring - Copyright 2019 ™</p>
      </section>
    </div>
  </footer>
</section>

