/* You can add global styles to this file, and also import other style files */
body {
  background-color: #2A293E;
  background-image: url("assets/img/bgpaysage1.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-left : 50px;
  padding-right : 50px;
}


