/* You can add global styles to this file, and also import other style files */
body{
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-size: cover;
}

#content-container{
  min-height: 50vh;
  padding: 0 70px;
  overflow: hidden;

  h1, h2, h3, h4{
    color: white;
    width: 250px;
    padding: 10px;
  }

  h1{
    font-size: 6em;
    margin: 10px;
  }

  .info {
    position: relative;
    background-color:rgba(50, 50, 50, 0.8);
    font-size: 15px;
    padding: 10px 50px;
    color: white;
    .management-buttons{
      position: absolute;
      top:  10px;
      right: 10px;
      button{
        border: none;
        padding: 10px;
        background-color: white;
        color:  grey;
        cursor: pointer;
        border: 2px solid white;
        &:hover{
          background: #FF416C;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #FF4B2B, #FF416C);
          color: white;
          border: 2px solid white;
        }
      }
    }
  }
}

/* link styles */
.event-item{
  .management-buttons{
    position: relative;
    .mini-link{
      padding: 3px 5px;
      background-color: white;
      color: grey;
      width: auto;
      position: absolute;
      right: 0;
      top: -32px;
      &:hover{
        background: #FF416C;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
      }
    }
  }
}

.link {
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  width: 200px;
  &:hover{
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
  }
}


/* General utilities */
.message{
  background-color: whitesmoke;
  padding: 20px 30px;
  color: grey;
  div{
    margin: 20px auto;
    width: 100px;
    a{
      margin: 10px;
    }
  }
}

/* header / nav / ... */
header{
  width: 100%;
  nav{
    height: 10vh;
    width: 100%;
    #logo{
      width: 10%;
      img{
        height: 50px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    ul{
      padding-left: 100px;
      height: 46px;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
      margin: 0;
      li{
        float: left;
        list-style-type: none;
        a{
          display: block;
          padding: 14px 16px;
          text-decoration: none;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

/* content */
.list{
  ul{
    margin: 0 auto;
    li{
      background-color: rgba(107, 91, 149, 0.9);
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 4px;
      list-style-type: none;
      ul li{
        background: none;
      }
      a{
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

      }
    }
  }
}

/* form style */
.form {
  text-align: center;
  background-color: #6b5b95e6;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  h2{
    margin: 20px auto;
    font-size: 3em;
  }
  .submit {
    border-radius: 2px;
    padding: 15px;
    width: 150px;
    background-color: white;
    border:none;
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .form-element{
    color: white;
    margin: 10px;
    overflow: hidden;
    .label{
      width: 100px;
      display: inline-block;
      text-align: left;
      padding-right: 6px;
      width: 50%;
      height: 20px;
      float: left;
      margin-top: 10px;
    }
    input {
      padding: 5px 10px;
      margin: 4px;
      float: left;
      width: 90%;
      height: 40px;
    }
    input[type=submit]{
      cursor: pointer;
    }
    .error-form{
      width: 150px;
      float: left;
      text-align: left;
      padding: 5px 5px 5px 20px;
      background-color: red;
      margin: 10px;
    }
  }
  .error{
    background-color: red;
    color: white;
    padding: 15px 25px;
  }
}

/* float elements */
.left{
  float: left;
  width: 45%;
}
.right{
  float: right;
  width: 45%;
}

/* Footer */
footer{
  clear: both;
  height: 10vh;
  padding: 100px 200px;
  margin-top: 50px;
  background-color: #6b5b95;
  color: white;

  div{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 0 auto;
    #logo img{
      height: 60px;
    }
    #copyright{

      width: 200px;
      p{
        height: 60px;
        margin: 0;
        padding-top: 20px;

      }
    }
  }
}
